body
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-image: url(/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.timer
{
    margin-top: 11%;
}

h1,h3
{
    text-align: center;
    font-family:'Trebuchet MS';
}

.timer #display
{
    height: 100px;
    margin-top: 5%;
    width: 100px;
    margin-left: 25%;
    border-radius: 10px;
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 300%;
}

#start
{
    margin-left: 31%;
    background-color: red;
    font-weight: bold;
}

#pause, #restart
{
    background-color:green;
}

#buttons
{
    margin-top: 8%;
    margin-left: 15%;
}

button
{
    font-family: 'Trebuchet MS';
    font-size: larger;
    width: 80px;
    height: 36px;
    cursor: pointer;
    border-radius: 20px;
    /* color: black; */
}