body
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

h1 h3
{
    text-align: center;
}

.timer #display
{
    height: 100px;
    margin-top: 10%;
    width: 100px;
    margin-left: 25%;
}

#start
{
    margin-left: 38%;
}

#buttons
{
    margin-top: 8%;
    margin-left: 25%;
}